<?xml version="1.0" encoding="utf-8"?>
<Values>
  <Main>
    <Language>Korean.XML</Language>
    <Language_Info>SoftWareInfo_Korean.XML</Language_Info>
    <Version>6.66.0</Version>
    <SYSTEMName>SYSTEM</SYSTEMName>
    <DBMode>Access</DBMode>
    <DBMode1>Access</DBMode1>
    <DBMode2>SQLServer</DBMode2>
    <DBName>SA</DBName>
    <DBPW>123</DBPW>
    <DBAddr>.</DBAddr>
    <UserName>%E%978A4D4B1E41F7CB</UserName>
    <First>False</First>
    <TimeSpace>60</TimeSpace>
    <SavePassword>1</SavePassword>
    <UPassword>%E%BAE67FCE6A382318</UPassword>
    <AutoRunHelp>1</AutoRunHelp>
    <CheckOpenDoor>0</CheckOpenDoor>
    <CheckOpenDoorTwo>0</CheckOpenDoorTwo>
    <VideoServer>\VideoServer\VideoServer.exe</VideoServer>
    <VideoServerPort>18099</VideoServerPort>
    <VideoLocalPort>18098</VideoLocalPort>
    <RecordImageMAX>10000</RecordImageMAX>
    <RecordAviMAX>2000</RecordAviMAX>
    <SofMode>0</SofMode>
    <SofSkin>\Skin\</SofSkin>
    <TestEqupt>1</TestEqupt>
    <ToolBarBackStar>13160917</ToolBarBackStar>
    <ToolBarBackEnd>16777215</ToolBarBackEnd>
    <pcsListBoxBlackColor>15263976</pcsListBoxBlackColor>
    <USBRFPort>1</USBRFPort>
    <LEDCharCount>64</LEDCharCount>
    <LowLockLink>0</LowLockLink>
    <RefreshLEDTime>60</RefreshLEDTime>
    <DatabaseName>Card3500</DatabaseName>
    <MainName>Card3500.exe</MainName>
    <WebAddr1>aHR0cDovL3d3dy5rbXFpbmdtaWFvLmNvbS9odHRwU2VydmljZT9pbm1vZGU9NCZjbWQ9ODgwMDU1OTk5OSUyMyVTTiUlMjMlUG9ydCUlMjMlQ2FyZCUlMjMlVGltZSUlMjMxNTA4ODg4OTk5OSUyMzExMTExMSUyMzg5OTk5OTk5OTk5OTk5OQ==</WebAddr1>
    <Ver9880M>610</Ver9880M>
    <Ver2816M>610</Ver2816M>
    <UserDefined>false</UserDefined>
    <EMapOpenButton>0</EMapOpenButton>
    <DefUserPWD>0000</DefUserPWD>
    <ButtonTextColor>0</ButtonTextColor>
    <PasswordMask>True</PasswordMask>
    <UseFahrenheit>0</UseFahrenheit>
    <SetupDoorIniData>1</SetupDoorIniData>
    <ReLoadDefaultSoftware>0</ReLoadDefaultSoftware>
    <Auto_UpdateTime>0</Auto_UpdateTime>
    <Auto_CheckState>0</Auto_CheckState>
    <Auto_UpdateEqupt>0</Auto_UpdateEqupt>
    <Auto_LogToWatch>0</Auto_LogToWatch>
    <Auto_LogToMap>0</Auto_LogToMap>
    <DoorRecordAuto>0</DoorRecordAuto>
    <DoorRecordMode>1</DoorRecordMode>
    <DoorRecordModeMinute>480</DoorRecordModeMinute>
    <DoorRecordModeDay>7</DoorRecordModeDay>
    <DoorRecordModeDayTime>123000</DoorRecordModeDayTime>
    <DoorRecordModeTime>123000</DoorRecordModeTime>
    <WorkReportAuto>0</WorkReportAuto>
    <WorkReportType>1</WorkReportType>
    <WorkReportTypeDay>7</WorkReportTypeDay>
    <WorkReportTypeDayTime>123000</WorkReportTypeDayTime>
    <WorkReportTypeTime>123000</WorkReportTypeTime>
    <AutoBackup>1</AutoBackup>
    <BackupPath>C:\Software Data Backup\</BackupPath>
    <AutoBackupPath>C:\Software Data Backup\20260520164357\Card3500.mdb</AutoBackupPath>
  </Main>
  <IO_Setting>
    <MAX_CHUNNEL>5</MAX_CHUNNEL>
    <STO_COM>2</STO_COM>
    <SRC_COM>2</SRC_COM>
    <CNTT_TCP>3</CNTT_TCP>
    <CNTTR_TCP>3</CNTTR_TCP>
    <STO_TCP>2</STO_TCP>
    <SRC_TCP>2</SRC_TCP>
    <STO_Internet>2</STO_Internet>
    <SRC_Internet>2</SRC_Internet>
    <CNTT_Internet>3</CNTT_Internet>
    <CNTTR_Internet>3</CNTTR_Internet>
    <COM_1_1>300</COM_1_1>
    <COM_1_2>400</COM_1_2>
    <COM_1_3>400</COM_1_3>
    <COM_2_1>4</COM_2_1>
    <COM_2_2>5</COM_2_2>
    <COM_2_3>10</COM_2_3>
    <TCP_1_1>3000</TCP_1_1>
    <TCP_1_2>5000</TCP_1_2>
    <TCP_1_3>6000</TCP_1_3>
    <TCP_2_1>6</TCP_2_1>
    <TCP_2_2>10</TCP_2_2>
    <TCP_2_3>15</TCP_2_3>
    <TCP_3_1>5000</TCP_3_1>
    <TCP_3_2>8000</TCP_3_2>
    <TCP_3_3>10000</TCP_3_3>
    <TCP_4_1>2</TCP_4_1>
    <TCP_4_2>4</TCP_4_2>
    <TCP_4_3>5</TCP_4_3>
    <Internet_1_1>3000</Internet_1_1>
    <Internet_1_2>5000</Internet_1_2>
    <Internet_1_3>6000</Internet_1_3>
    <Internet_2_1>6</Internet_2_1>
    <Internet_2_2>10</Internet_2_2>
    <Internet_2_3>15</Internet_2_3>
    <Internet_3_1>5000</Internet_3_1>
    <Internet_3_2>8000</Internet_3_2>
    <Internet_3_3>10000</Internet_3_3>
    <Internet_4_1>2</Internet_4_1>
    <Internet_4_2>4</Internet_4_2>
    <Internet_4_3>5</Internet_4_3>
  </IO_Setting>
</Values>