<style>
  #admin-add label {
    width: 150px;
    background-color: #dddddd;
  }

  .defDivMainBox {
    width: 740px;
    margin: 0 auto;
  }

  .defcenter {
    text-align: center;
  }

  .defDivImageBox {
    width: 240px;
    margin: 0 auto;
  }

  defImageBox {
    width: 240px;
    height: 340px;
    margin: 0 auto;
  }
</style>

<div class="layuimini-main" id="admin-addiamge">
  <div class="Add_Box">
    <img style="position: fixed" src="/images/640-480(green).png" alt="" />
    <video id="video" ref="video" width="640" height="480" autoplay></video>
    <!-- <video id="video1" v-show="false" ref="video1" autoplay></video> -->
    <canvas width="640" height="480" v-show="false" ref="canvasBox"></canvas>
    <canvas width="640" height="480" v-show="false" ref="canvasBox2"></canvas>
    <!-- <el-dialog
          title="图片预览" :modal="false" :close-on-click-modal="false" :destroy-on-close='false' 
          :visible.sync="visibleimg"
          width="410px"
          @close="visibleimg=false">
          <div>
            <img style="width:360px;" :src="imgsrc" alt="" srcset="">
          </div>
          <div slot="footer" style="text-align: center;">
            <el-button size="mini"  type="primary" @click="visibleimg = false">取消</el-button>
            <el-button size="mini" type="primary" @click="handOkimg">确定</el-button>
          </div>
        </el-dialog> -->
  </div>
  <div slot="footer" class="dialog-footer">
    <div>
      <div :size="20">
        <span>
          <span language="people.p65"> 摄像头： </span>
          <!-- <el-select v-model="CanItem" placeholder="请选择" 
                @change='changeSel' size='mini'>
                <el-option
                  v-for="item in videoArr"
                  :key="item.id"
                  :label="item.label"
                  :value="item.id">
                </el-option>
              </el-select> -->
          <select v-model="CanItem" @change="changeSel($event)">
            <option value="NONE" language="people.p66">未选择</option>
            <option
              v-for="item in videoArr"
              :key="item.id"
              :label="item.label"
              :value="item.id"
            >
              {{item.label}}
            </option>
          </select>
          <!-- {{videoArr}} -->
        </span>
        <span style="margin-left: 10px">
          <span language="people.p67"> 分辨率： </span>

          <!-- <el-select v-model="SrccIndex" placeholder="请选择" @change='changeSrcc' size='mini'>
                <el-option
                  v-for="(item,index) in SrccArr" :key="index" :value="index" :label="item.width+'x'+item.height"
                  >
                   {{item.width+'x'+item.height}}
                </el-option>
              </el-select> -->

          <select v-model="SrccIndex" @change="changeSrcc($event)">
            <option value="NONE" language="people.p66">未选择</option>
            <option v-for="(item,index) in SrccArr" :key="index" :value="index">
              {{item.width+'x'+item.height}}
            </option>
          </select>
        </span>

        <!-- <el-button size="mini" type="default" @click="photograph">保存</el-button> -->
        <div style="padding-top: 10px; text-align: center">
          <button
            class="layui-btn layui-btn-sm layui-btn-normal"
            @click="photograph"
          >
            <i class="layui-icon">&#xe605;</i>
            <span language="people.p39">保存</span>
          </button>
          <button
            class="layui-btn layui-btn-sm layui-btn-warm"
            @click="CloseFn"
          >
            <i class="layui-icon">&#x1006;</i>
            <span language="people.p40">取消</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="/jsLib/UploadImage.js"></script> -->
<script src="/jsLib/vue.global.js"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/jsLib/vue-cropper.umd.js"></script>
<script>
  let parentIndex;
  let faceAPI;
  const app = Vue.createApp({
    data() {
      return {
        videoObj: null,
        SrccIndex: 0,
        SrccArr: [
          {
            width: 640,
            height: 480,
          },
          {
            width: 800,
            height: 600,
          },
          {
            width: 1024,
            height: 768,
          },
          {
            width: 1280,
            height: 960,
          },
          {
            width: 1440,
            height: 1080,
          },
        ],
        videoArr: [],
        CanItem: null,
        imgsrc: null,
        visibleimg: false,
      };
    },
    methods: {
      OpenCamera() {
        navigator.mediaDevices
          .getUserMedia({
            video: true,
          })
          .then((success) => {
            console.log("[ success ] >", success);
          })
          .catch((error) => {
            console.error("摄像头开启失败，请检查摄像头是否可用！");
          });
      },
      changeSrcc(e) {
        this.SrccIndex = e.target.value;
        const videoConstraints = {};
        videoConstraints.deviceId = {
          exact: this.CanItem,
        };
        videoConstraints.width = this.SrccArr[this.SrccIndex].width;
        videoConstraints.height = this.SrccArr[this.SrccIndex].height;

        var constraints = {
          video: videoConstraints,
        };
        // console.log('[ constraints ] >', constraints)
        this.closeCamera();
        this.getUserMedia(constraints);
      },
      changePhoto() {
        //获得 usb 设备列表
        return new Promise((resolve, reject) => {
          window.navigator.mediaDevices
            .enumerateDevices()
            .then((devices) => {
              console.log(devices);
              let json = {};
              devices.forEach((device) => {
                if (device.kind == "videoinput" && device.deviceId) {
                  this.videoArr.push({
                    label: device.label,
                    id: device.deviceId,
                  });
                  json[device.deviceId] = {
                    label: device.label,
                    id: device.deviceId,
                  };
                }
              });
              sessionStorage.setItem("CameraArr", JSON.stringify(json));
              resolve();
            })
            .catch(function (err) {
              reject();
              // console.log(err.name + ": " + err.message);
            });
        });
      },
      changeSel(event) {
        //切换摄像头方法
        let val = event.target ? event.target.value : event;
        const videoConstraints = {};
        if (val === "") {
          videoConstraints.facingMode = "environment";
        } else {
          videoConstraints.deviceId = {
            exact: val,
          };
          videoConstraints.width = this.SrccArr[this.SrccIndex].width;
          videoConstraints.height = this.SrccArr[this.SrccIndex].height;
        }
        var constraints = {
          video: videoConstraints,
        };
        // console.log('[ constraints ] >', constraints)
        this.closeCamera();
        this.getUserMedia(constraints);
        sessionStorage.setItem("Camera", val);
      },
      photograph() {
        let compressNum = 0.8; //压缩赔率
        //拍照方法
        let ctx = this.$refs.canvasBox.getContext("2d");
        let ctx2 = this.$refs.canvasBox2.getContext("2d");
        console.log("[ canvasBox ] >", this.$refs.canvasBox);
        // 按照比例设置canvas的宽高
        this.$refs.canvasBox.width = this.SrccArr[this.SrccIndex].width;
        this.$refs.canvasBox.height = this.SrccArr[this.SrccIndex].height;
        const multiple = this.SrccArr[this.SrccIndex].width / 640; //倍数
        const pwidth = multiple * 360; //图像宽度
        const pleft = (this.SrccArr[this.SrccIndex].width - pwidth) / 2;

        // 设置canvas2 的 宽高
        this.$refs.canvasBox2.width = pwidth;
        this.$refs.canvasBox2.height = this.SrccArr[this.SrccIndex].height;

        ctx.drawImage(
          this.$refs.video,
          0,
          0,
          this.SrccArr[this.SrccIndex].width,
          this.SrccArr[this.SrccIndex].height
        );
        let ctxBase64 = this.$refs.canvasBox.toDataURL(
          "image/jpg",
          compressNum
        );
        // 把当前视频帧内容渲染到canvas上
        // drawImage(image, sx, sy, sw, sh, dx, dy, dw, dh)
        let pic = new Image();
        pic.src = ctxBase64; // 画布地址给new Image地址;
        pic.onload = () => {
          ctx2.drawImage(
            pic,
            pleft,
            0,
            pwidth,
            this.SrccArr[this.SrccIndex].height,
            0,
            0,
            pwidth,
            this.SrccArr[this.SrccIndex].height
          );
          // 转base64格式、图片格式转换、图片质量压缩---支持两种格式image/png+image/png
          let imgBase64 = this.$refs.canvasBox2.toDataURL(
            "image/jpg",
            compressNum
          );

          /**------------到这里为止，就拿到了base64位置的地址，后面是下载功能----------*/

          // 由字节转换为KB 判断大小
          let src = imgBase64;
          let str = imgBase64.replace("data:image/png;base64,", "");
          let strLength = str.length;
          let fileLength = parseInt(strLength - (strLength / 8) * 2); // 图片尺寸  用于判断
          let size = (fileLength / 1024).toFixed(2);
          // console.log(size) // 上传拍照信息  调用接口上传图片 .........
          this.imgsrc = src;

          $("#showPeopleImg").attr("src", src);

          faceAPI.PeopleAddPageResult = true;

          layer.close(parentIndex);
          if (!this.$refs.video.srcObject) return;
          this.closeCamera();
        };
      },
      //获得并打开摄像头
      getUserMedia(constraints, success, error) {
        return new Promise((resolve, reject) => {
          if (navigator.mediaDevices.getUserMedia) {
            //最新的标准API
            navigator.mediaDevices
              .getUserMedia(constraints)
              .then((success) => {
                // 摄像头开启成功
                // this.$refs['video'].srcObject = success
                // 实时拍照效果
                // this.$refs['video'].play()
                this.$refs.video.srcObject = success;
                // debugger;
                // const video1 = document.createElement('video')
                // video1.srcObject = success;

                // video1.addEventListener('canplay', function(e) {
                //     console.log(e)
                // })
                this.$refs.video.onloadedmetadata = (e) => {
                  this.$refs.video.play();
                  let ctx = this.$refs.canvasBox.getContext("2d");
                  this.$refs.canvasBox.width =
                    this.SrccArr[this.SrccIndex].width;
                  this.$refs.canvasBox.height =
                    this.SrccArr[this.SrccIndex].height;

                  let xIndex = 0;
                  const switchToCanvas = () => {
                    if (this.$refs.video.ended) {
                      return;
                    }
                    // 将video上的图片的每一帧以图片的形式绘制的canvas上;
                    ctx.drawImage(
                      this.$refs.video,
                      0,
                      0,
                      this.SrccArr[this.SrccIndex].width,
                      this.SrccArr[this.SrccIndex].height
                    );
                    window.requestAnimationFrame(switchToCanvas);
                  };
                  switchToCanvas();
                };
                resolve();
              })
              .catch((error) => {
                reject(error);
                // 开启失败
              });
          } else {
            reject("不支持开启摄像头");
            console.log(
              "%c [ 不支持开启摄像头 ]: ",
              "color: #bf2c9f; background: pink; font-size: 13px;",
              "不支持开启摄像头"
            );
          }
        });
      },
      // 关闭摄像头
      closeCamera() {
        if (!this.$refs.video.srcObject) return;
        let stream = this.$refs.video.srcObject;
        let tracks = stream.getTracks();
        tracks.forEach((track) => {
          track.stop();
        });
        this.$refs.video.srcObject = null;
      },
      handCancelimg() {
        this.visibleimg = false;
      },
      handOkimg() {
        this.visibleimg = false;

        this.$emit("okfn", this.imgsrc);
      },
      selectClass(event) {
        // console.log('[ event ] >', event.target.value)
      },
      CloseFn() {
        layer.close(parentIndex);
        if (!this.$refs.video.srcObject) return;
        this.closeCamera();
      },
      checkCameraPermission() {
        return new Promise((resolve, reject) => {
          try {
            navigator.permissions.query({ name: "camera" }).then((result) => {
              if (result.state === "granted") {
                console.log("摄像头权限已授权");
                resolve(1);
              } else if (result.state === "prompt") {
                resolve(2);
                console.log("摄像头权限需要请求");
              } else if (result.state === "denied") {
                resolve(3);
                // '相机权限被拒绝。请在浏览器设置中允许访问摄像头，然后重试。';
                let lyalert = layer.alert(
                  "相机权限被拒绝。请在浏览器设置中允许访问摄像头，然后重试。",
                  () => {
                    console.log("123", 123);
                    layer.close(lyalert);
                    this.CloseFn();
                  }
                );
              }
            });
          } catch (error) {
            console.error("无法查询摄像头权限:", error);
            reject(error);
          }
        });
      },
    },
    mounted() {
      setTimeout(() => {
        console.log("123", 123);
        this.checkCameraPermission()
          .then(async (res) => {
            console.log("res", res);
            if (res == 1) {
              await this.changePhoto();
              await this.$nextTick(() => {
                if (this.$refs.video) {
                  this.$refs.video.srcObject = this.videoobj;
                  this.$refs.video.play();
                }
                console.log(
                  sessionStorage.getItem("Camera"),
                  "是否已经使用过相机？"
                );
                const cameraId = sessionStorage.getItem("Camera")
                  ? sessionStorage.getItem("Camera")
                  : null;

                this.CanItem = cameraId
                  ? cameraId
                  : this.videoArr.length
                  ? this.videoArr[0]["id"]
                  : null;

                console.log("[ videoArr ] >", this.videoArr);

                // 重新设置打开相机
                if (!this.CanItem) {
                } else {
                  this.changeSel(this.CanItem);
                }
              });
            }
            if (res == 2) {
              console.log("摄像头权限需要请求", "摄像头权限需要请求");
              this.getUserMedia({ video: true })
                .then((ress) => {
                  console.log("res", ress);
                })
                .catch((err) => {
                  console.log("err", err);
                  let lyalert = layer.alert(
                    "启动相机失败，请检查摄像头权限。然后重试。",
                    () => {
                      console.log("123", 123);
                      layer.close(lyalert);
                      this.CloseFn();
                    }
                  );
                });
            }
            if (res == 3) {
              console.log("摄像头权限被拒绝", "摄像头权限被拒绝");
              this.getUserMedia({ video: true });
            }
          })
          .catch((err) => {
            console.log("err", err);
          });
      }, 500);
    },
    beforeMount() {},
    beforeUnmount() {
      if (!this.$refs.video.srcObject) return;
      this.closeCamera();
    },
  });
  app.mount("#admin-addiamge");

  layui.use(["faceAPI"], function () {
    var $ = layui.$;
    // 当前弹出层，防止ID被覆盖
    parentIndex = layer.index;
    faceAPI = layui.faceAPI;
    var loadIndex = 0;
    var upload = layui.upload;
    //取消操作，关闭窗口
  });

  setTimeout(() => {
    setLanguage();
    setAllAttrVal();
  }, 300);
</script>
